<template>
  <hr class="slp-hr" />
</template>

<script lang="ts">
export default {
  name: "SlpHorizontalRule",
};
</script>

<style lang="scss" scoped>
@import "src/styles/_variables";

.slp-hr {
  border-top-width: 1px;
  border-top: 1px solid $color-surface-400;
}
</style>
