<script lang="js">
import SlpIcon from "../Icon/Icon.vue";
export default {
  name: "SlpGroupButton",
  components: { SlpIcon },
  props:{
    iconLeft: {
      type: String,
      default: 'continuous-delivery'
    },
    iconRight: {
      type: String,
      default: 'check'
    },
    href: {
      type: String,
      required: false,
      default: "",
    },
  },
};
</script>

<template>
  <a :href="href" v-bind="$attrs" v-if="href" class="slp-group-btn">
    <SlpIcon v-if="iconLeft" :name="iconLeft" size="sm" variant="marketing" />
    <div v-else class="ghost-icon"></div>
    <span class="text"><slot /></span>
    <SlpIcon v-if="iconRight" :name="iconRight" size="sm" variant="product" />
    <div v-else class="ghost-icon"></div>
  </a>
  <button v-else v-bind="$attrs" class="slp-group-btn">
    <SlpIcon v-if="iconLeft" :name="iconLeft" size="sm" variant="marketing" />
    <div v-else class="ghost-icon"></div>
    <span class="text"><slot /></span>
    <SlpIcon v-if="iconRight" :name="iconRight" size="sm" variant="product" />
    <div v-else class="ghost-icon"></div>
  </button>
</template>

<style lang="scss" scoped>
@import "src/styles/_variables";
$button-height: calc(16px + ($border-width * 2));
$min-button-width: calc(66px + ($border-width * 2));

.#{$prefix}-group-btn {
  font-family: "Inter", "sans-serif";
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-16;
  width: fit-content;
  cursor: pointer;
  border: none;
  border-radius: $border-radius-4;
  background-color: $color-surface-800;
  color: $color-text-300;
  font-size: $text-body-2-bold;
  line-height: $line-height-body-2-link;
  transition: background-color 200ms ease-in-out;

  .text {
    padding: 0 8px;
  }

  &:hover {
    transition: background-color 200ms ease-in-out;
    background-color: $color-surface-950;
    color: $color-text-300;
  }
}
.ghost-icon {
  width: 16px;
  height: 16px;
}
</style>
