<script lang="js">
import SlpIcon from "../Icon/Icon.vue";
export default {
  name: "SlpPillButton",
  components: { SlpIcon },
  props:{
    type: {
      type: String,
      on:['true', 'false', 'label'],
      default: 'true',
    },
    icon: {
      type: String,
      default: 'check'
    },
    iconVariant:{
      type:String,
      default: 'product',
    },
    href: {
      type: String,
      required: false,
      default: "",
    },
  },
};
</script>

<template>
  <a
    :href="href"
    v-bind="$attrs"
    v-if="href"
    :class="`${type}`"
    class="slp-pill-btn"
  >
    <SlpIcon :name="icon" size="sm" :variant="iconVariant" />
    <slot />
  </a>
  <button v-else v-bind="$attrs" :class="`${type}`" class="slp-pill-btn">
    <SlpIcon :name="icon" size="sm" :variant="iconVariant" />
    <slot />
  </button>
</template>

<style lang="scss" scoped>
@import "src/styles/_variables";
$button-height: calc(16px + ($border-width * 2));
$min-button-width: calc(66px + ($border-width * 2));

.#{$prefix}-pill-btn {
  font-family: "Inter", "sans-serif";
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px 4px 8px;
  width: fit-content;
  border-radius: $border-radius-pill;
  border: $border-pill;
  cursor: pointer;
  font-size: $text-button-2;
  font-weight: $font-weight-bold;
  line-height: $line-height-body-2-link;

  .#{$prefix}-icon {
    padding: 0 $spacing-4;
  }

  &.true {
    background-color: $color-accent-500;
    color: $color-text-50;
  }
  &.false {
    background-color: $color-surface-100;
    border-color: $color-surface-400;
    color: $color-text-300;
  }
  &.label {
    border-color: $color-surface-400;
    color: $color-text-link-100;
    font-weight: $font-weight-normal;
    .#{$prefix}-icon {
      color: $color-text-300;
    }
  }
}
</style>
