<script lang="ts">
import Vue from "vue";
import Tree from "./Tree.vue";
import SlpButton from "../../components/Button/Button.vue";
import SlpHorizontalRule from "../../components/HorizontalRule/HorizontalRule.vue";
import SlpIcon from "../../components/Icon/Icon.vue";
import SlpTypography from "../../components/Typography/Typography.vue";

export default Vue.extend({
  name: "AnchorDropdown",
  components: {
    SlpButton,
    SlpHorizontalRule,
    SlpIcon,
    SlpTypography,
    Tree,
  },
  props: {
    data: {
      type: Array,
      required: true,
      default() {
        return [];
      },
    },
  },
  data() {
    return {
      isMenuOpen: false,
    };
  },
  methods: {
    navigateToAnchor(event: any) {
      const hash = event.target.value;
      this.$router.push({ hash });
    },
    toggleList() {
      this.isMenuOpen = !this.isMenuOpen;
    },
  },
});
</script>

<template>
  <div class="dropdown" :class="{ hide: isMenuOpen == false }">
    <SlpButton
      class="dropdown__button"
      variant="ghost"
      @click.native="toggleList()"
    >
      <span>Jump to a section</span>
      <SlpIcon
        variant="product"
        :name="isMenuOpen ? 'chevron-lg-up' : 'chevron-lg-down'"
      />
    </SlpButton>
    <div class="dropdown__list">
      <SlpTypography
        v-show="data.anchors.text"
        tag="div"
        variant="body3-bold"
        class="nav-heading"
        >{{ data.anchors.text }}</SlpTypography
      >
      <Tree mobile :nodes="data.anchors.data" @click.native="toggleList()" />
      <SlpHorizontalRule
        v-show="data.hyperlinks.data.length"
        class="slp-my-16"
      />
      <SlpTypography
        v-show="data.hyperlinks.text"
        tag="div"
        variant="body3-bold"
        class="nav-heading"
        >{{ data.hyperlinks.text }}</SlpTypography
      >
      <ul>
        <li v-for="hyperlink in data.hyperlinks.data" :key="hyperlink.text">
          <SlpButton
            class="dropdown__link"
            variant="ghost"
            :href="hyperlink.href"
          >
            <span>{{ hyperlink.text }}</span>
            <SlpButton variant="icon">
              <SlpIcon variant="product" name="chevron-lg-right" size="xs" />
            </SlpButton>
          </SlpButton>
        </li>
      </ul>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "src/styles/_variables";
.dropdown {
  background-color: $color-surface-50;
  position: sticky;
  left: 0;
  right: 0;
  top: 116px;
  z-index: 100;

  &.hide {
    .dropdown__button {
      border-radius: $border-radius-4 !important;
    }

    .dropdown__list {
      display: none;
    }
  }

  .nav-heading {
    font-size: 12px;
    margin-bottom: $spacing-8;
    padding: 0px $spacing-16;
  }

  &__button {
    border: $border !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: $border-radius-4 $border-radius-4 0px 0px !important;
  }

  &__list {
    max-height: 70vh;
    overflow-y: scroll;
    border: $border;
    border-top: none;
    border-radius: 0px 0px $border-radius-4 $border-radius-4;
    position: absolute;
    top: 42px;
    left: 0px;
    right: 0px;
    padding: $spacing-16 $spacing-8;
    background-color: $color-surface-50;
  }

  &__link {
    width: 100%;
    color: $color-text-300;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: $spacing-8;
  }
}
</style>
