@import "variables";
@import "fonts";

html {
  scroll-padding-top: 120px;
}

body {
  color: $color-text-300 !important;
  font-family: "Inter", "sans-serif" !important;
  font-size: $font-size-default;
  font-weight: $font-weight-normal !important;
  line-height: $line-height-default !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
}

// SPACE
.slp-storybook-spacing-table {
  width: 100%;
}

tr {
  background-color: white !important;
}

.slp-storybook-spacing-4 {
  width: $spacing-4;
  height: 20px;
  background-color: $color-primary-200;
}

.slp-storybook-spacing-8 {
  width: $spacing-8;
  height: 20px;
  background-color: $color-primary-200;
}

.slp-storybook-spacing-16 {
  width: $spacing-16;
  height: 20px;
  background-color: $color-primary-200;
}

.slp-storybook-spacing-24 {
  width: $spacing-24;
  height: 20px;
  background-color: $color-primary-200;
}

.slp-storybook-spacing-32 {
  width: $spacing-32;
  height: 20px;
  background-color: $color-primary-200;
}

.slp-storybook-spacing-48 {
  width: $spacing-48;
  height: 20px;
  background-color: $color-primary-200;
}

.slp-storybook-spacing-64 {
  width: $spacing-64;
  height: 20px;
  background-color: $color-primary-200;
}

.slp-storybook-spacing-96 {
  width: $spacing-96;
  height: 20px;
  background-color: $color-primary-200;
}

.slp-storybook-spacing-160 {
  width: $spacing-160;
  height: 20px;
  background-color: $color-primary-200;
}

// COLOR
.slp-storybook-color-table {
  width: 100%;

  tr {
    td:nth-child(1) {
      width: 64px;
    }

    td:nth-child(3) {
      width: 56px;
    }
  }
}

.slp-storybook-color {
  width: 56px;
  height: 56px;
}

// Primary
.slp-storybook-color-primary-100 {
  background-color: $color-primary-100;
}

.slp-storybook-color-primary-200 {
  background-color: $color-primary-200;
}

.slp-storybook-color-primary-300 {
  border: 1px solid $color-surface-300;
  background-color: $color-primary-300;
}

// Secondary
.slp-storybook-color-secondary-100 {
  background-color: $color-secondary-100;
}

.slp-storybook-color-secondary-200 {
  border: 1px solid $color-surface-300;
  background-color: $color-secondary-200
}

.slp-storybook-color-secondary-300 {
  background-color: $color-secondary-300;
}

// Surface
.slp-storybook-color-surface-50 {
  border: 1px solid $color-surface-300;
  background-color: $color-surface-50;
}

.slp-storybook-color-surface-100 {
  border: 1px solid $color-surface-300;
  background-color: $color-surface-100;
}

.slp-storybook-color-surface-200 {
  border: 1px solid $color-surface-300;
  background-color: $color-surface-200;
}

.slp-storybook-color-surface-300 {
  background-color: $color-surface-300;
}

.slp-storybook-color-surface-400 {
  background-color: $color-surface-400;
}

.slp-storybook-color-surface-500 {
  background-color: $color-surface-500;
}

.slp-storybook-color-surface-600 {
  background-color: $color-surface-600;
}

.slp-storybook-color-surface-700 {
  background-color: $color-surface-600;
}

.slp-storybook-color-surface-800 {
  background-color: $color-surface-800;
}

.slp-storybook-color-surface-900 {
  background-color: $color-surface-900;
}

.slp-storybook-color-surface-950 {
  background-color: $color-surface-950;
}
// Text
.slp-storybook-color-text-50 {
  border: 1px solid $color-surface-300;
  background-color: $color-text-50;
}

.slp-storybook-color-text-100 {
  background-color: $color-text-100;
}

.slp-storybook-color-text-200 {
  background-color: $color-text-200;
}

.slp-storybook-color-text-300 {
  background-color: $color-text-300;
}

.slp-storybook-color-text-link-100 {
  background-color: $color-text-link-100;
}

// Alert
.slp-storybook-color-alert-100 {
  background-color: $color-alert-100;
}

.slp-storybook-color-alert-200 {
  background-color: $color-alert-200;
}

.slp-storybook-color-alert-300 {
  background-color: $color-alert-300;
}

// Warning
.slp-storybook-color-warning-100 {
  background-color: $color-warning-100;
}

.slp-storybook-color-warning-200 {
  background-color: $color-warning-200;
}

.slp-storybook-color-warning-300 {
  background-color: $color-warning-300;
}

// Success
.slp-storybook-color-success-100 {
  background-color: $color-success-100;
}

.slp-storybook-color-success-200 {
  background-color: $color-success-200;
}

.slp-storybook-color-success-300 {
  background-color: $color-success-300;
}

// Info
.slp-storybook-color-info-100 {
  background-color: $color-info-100;
}

.slp-storybook-color-info-200 {
  background-color: $color-info-200;
}

.slp-storybook-color-info-300 {
  background-color: $color-info-300;
}

// Accents
.slp-storybook-color-accent-100 {
  background-color: $color-accent-100;
}

.slp-storybook-color-accent-200 {
  background-color: $color-accent-200;
}

.slp-storybook-color-accent-300 {
  background-color: $color-accent-300;
}

.slp-storybook-color-accent-400 {
  background-color: $color-accent-400;
}

.slp-storybook-color-accent-500 {
  background-color: $color-accent-500;
}

// Type
.slp-storybook-type-table {
  width: 100%;

  tr {
    &:nth-child(-n+3) td{
      padding: $spacing-16 !important;
    }

    &:nth-last-child(-n+2) td{
      padding: 15px $spacing-16 $spacing-16 $spacing-16  !important;
    }
  }
}

.slp-storybook-type-display-1 {
  font-size: $text-display-1 !important;
  line-height: $line-height-display-1;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-display-1;
}

.slp-storybook-type-heading-1 {
  font-size: $text-heading-1 !important;
  line-height: $line-height-heading-1;
  letter-spacing: $letter-spacing-heading-1;
}

.slp-storybook-type-heading-2 {
  font-size: $text-heading-2 !important;
  line-height: $line-height-heading-2;
  letter-spacing: $letter-spacing-heading-2;
}

.slp-storybook-type-heading-3 {
  font-size: $text-heading-3 !important;
  line-height: $line-height-heading-3;
  letter-spacing: $letter-spacing-heading-3;
}

.slp-storybook-type-heading-4 {
  font-size: $text-heading-4 !important;
  line-height: $line-height-heading-4;
  letter-spacing: $letter-spacing-heading-4;
}

.slp-storybook-type-heading-5 {
  font-size: $text-heading-5 !important;
  line-height: $line-height-heading-5;
  letter-spacing: $letter-spacing-heading-5;
}

.slp-storybook-type-heading-1-bold {
  font-size: $text-heading-1 !important;
  line-height: $line-height-heading-1;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-heading-1-bold;
}

.slp-storybook-type-heading-2-bold {
  font-size: $text-heading-2 !important;
  line-height: $line-height-heading-2;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-heading-2-bold;

}

.slp-storybook-type-heading-3-bold {
  font-size: $text-heading-3 !important;
  line-height: $line-height-heading-3;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-heading-3-bold;
}

.slp-storybook-type-heading-4-bold {
  font-size: $text-heading-4 !important;
  line-height: $line-height-heading-4;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-heading-4-bold;
}

.slp-storybook-type-heading-5-bold {
  font-size: $text-heading-5 !important;
  line-height: $line-height-heading-5;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-heading-5-bold;
}

.slp-storybook-type-display-1-mobile {
  font-size: $text-display-1-mobile !important;
  line-height: $line-height-display-1-mobile;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-display-1-mobile;
}

.slp-storybook-type-heading-1-mobile {
  font-size: $text-heading-1-mobile !important;
  line-height: $line-height-heading-1-mobile;
  letter-spacing: $letter-spacing-heading-1-mobile;
}

.slp-storybook-type-heading-2-mobile {
  font-size: $text-heading-2-mobile !important;
  line-height: $line-height-heading-2-mobile;
  letter-spacing: $letter-spacing-heading-2-mobile;
}

.slp-storybook-type-heading-3-mobile {
  font-size: $text-heading-3-mobile !important;
  line-height: $line-height-heading-3-mobile;
  letter-spacing: $letter-spacing-heading-3-mobile;
}

.slp-storybook-type-heading-4-mobile {
  font-size: $text-heading-4-mobile !important;
  line-height: $line-height-heading-4-mobile;
  letter-spacing: $letter-spacing-heading-4-mobile;
}

.slp-storybook-type-heading-5-mobile {
  font-size: $text-heading-5-mobile !important;
  line-height: $line-height-heading-5-mobile;
  letter-spacing: $letter-spacing-heading-5-mobile;
}

.slp-storybook-type-heading-1-bold-mobile {
  font-size: $text-heading-1-mobile !important;
  line-height: $line-height-heading-1-mobile;
  letter-spacing: $letter-spacing-heading-1-bold-mobile;
  font-weight: $font-weight-bold;
}

.slp-storybook-type-heading-2-bold-mobile {
  font-size: $text-heading-2-mobile !important;
  line-height: $line-height-heading-2-mobile;
  letter-spacing: $letter-spacing-heading-2-bold-mobile;
  font-weight: $font-weight-bold;
}

.slp-storybook-type-heading-3-bold-mobile {
  font-size: $text-heading-3-mobile !important;
  line-height: $line-height-heading-3-mobile;
  letter-spacing: $letter-spacing-heading-3-bold-mobile;
  font-weight: $font-weight-bold;
}

.slp-storybook-type-heading-4-bold-mobile {
  font-size: $text-heading-4-mobile !important;
  line-height: $line-height-heading-4-mobile;
  letter-spacing: $letter-spacing-heading-4-bold-mobile;
  font-weight: $font-weight-bold;
}

.slp-storybook-type-heading-5-bold-mobile {
  font-size: $text-heading-5-mobile !important;
  line-height: $line-height-heading-5-mobile;
  letter-spacing: $letter-spacing-heading-5-bold-mobile;
  font-weight: $font-weight-bold;
}

.slp-storybook-type-body-1 {
  font-size: $text-body-1 !important;
  line-height: $line-height-body-1;
}

.slp-storybook-type-body-2 {
  font-size: $text-body-2 !important;
  line-height: $line-height-body-2;
}

.slp-storybook-type-body-3 {
  font-size: $text-body-3 !important;
  line-height: $line-height-body-3;
}

.slp-storybook-type-body-1-bold {
  font-size: $text-body-1-bold !important;
  line-height: $line-height-body-1-bold;
  font-weight: $font-weight-bold;
}

.slp-storybook-type-body-2-bold {
  font-size: $text-body-2-bold !important;
  line-height: $line-height-body-2-bold;
  font-weight: $font-weight-bold;
}

.slp-storybook-type-body-3-bold {
  font-size: $text-body-3-bold !important;
  line-height: $line-height-body-3-bold;
  font-weight: $font-weight-bold;
}

.slp-storybook-type-button-1 {
  font-size: $text-button-1 !important;
  line-height: $line-height-button-1;
  font-weight: 500;
}

.slp-storybook-type-caps {
  font-size: $text-caps !important;
  line-height: $line-height-caps;
  font-weight: $font-weight-normal;;
}

.slp-storybook-type-quotes {
  font-size: $text-quotes !important;
  line-height: $line-height-quotes;
  font-weight: $font-weight-normal;
  font-style: italic;
}

.slp-storybook-type-emphasis {
  font-size: $text-emphasis !important;
  line-height: $line-height-caps;
}

.slp-storybook-card-example {
  height: 192px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slp-storybook-icon-gallery {
  width: 100%;

  &__body {
    display: flex;
    flex-wrap: wrap;
  }

  &__icon-card {
    display: flex;
    flex-direction: column;
    box-shadow: $color-surface-200 5px 5px 15px;
    border: 1px solid $color-surface-200;
    border-radius: 10px;
    margin: $spacing-16;
    padding: $spacing-16
  }

  &__icons {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__input {
    width: 100%;
    max-width: 20rem;
    appearance: none;
    border: 1px solid $color-surface-500;
    border-radius: 4px;
    padding: $spacing-8 $spacing-16;
    transition: box-shadow 0.5s ease-in-out;
    line-height: normal;
    font-size: $text-body-1;
    vertical-align: center;

    &:active,
    &:focus,
    &:focus-visible {
      outline: 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
}

.side-navigation-story {
  h1 {
    margin-top: $spacing-96;
    margin-bottom: $spacing-16;
  }

  h2 {
    margin-top: $spacing-48;
    margin-bottom: $spacing-16;
  }
  margin-bottom: 500px;
}

#contact-us {
  margin-top: calc(128px + $spacing-48);
}

.placeholder-nav {
  position: sticky;
  height: 120px;
  background-color: lightgrey;
  top: 0;
  left: 0;
  right: 0; 
}

.intersection-observer {
  position: fixed;
  height: 8px;
  background-color: rgba(255, 0, 242, 0.2);
  color:rgb(255, 0, 242);
  font-size: 16px;
  top: 120px;
  left: 0;
  right: 0;
}

.sb-main-padded {
  padding: 0 !important;
}