<script lang="ts">
import Vue from "vue";
import SlpIcon from "../Icon/Icon.vue";
import SlpTypography from "../Typography/Typography.vue";

export default Vue.extend({
  name: "SlpBreadcrumb",
  components: { SlpTypography, SlpIcon },
  props: {
    // For static breadcrumbs
    crumbs: {
      type: Array,
      required: false,
      default: () => [],
    },
    router: {
      type: Object, //$router object from vue for dynamic breadcrumbs, in Slippers/Storybook there is no access to the $router object
      required: false,
    },
  },
  data() {
    return {
      formattedCrumbs: this.crumbs,
      isMobile: false,
    };
  },
  beforeMount() {
    if (this.router) {
      const fullPath = this.router.currentRoute.path;
      const params = fullPath.startsWith("/")
        ? fullPath.substring(1).split("/")
        : fullPath.split("/");
      const crumbs: any[] = [];
      let path = "";

      params.forEach((param: string) => {
        path = `${path}/${param}`;
        const match = this.router.match(path);
        if (match.params.slug !== null) {
          crumbs.push({
            title: this.startCase(param.replace(/-/g, " ")),
            ...match,
          });
        }
      });
      this.formattedCrumbs = crumbs;
    }
  },
  mounted() {
    this.detectMobile();
    window.addEventListener("resize", this.detectMobile);
  },
  destroyed() {
    window.removeEventListener("resize", this.detectMobile);
  },
  methods: {
    startCase(sentence: string) {
      const startCaseSentence = sentence.split(" ");

      for (let i = 0; i < startCaseSentence.length; i++) {
        startCaseSentence[i] =
          startCaseSentence[i][0].toUpperCase() +
          startCaseSentence[i].substr(1);
      }

      return startCaseSentence.join(" ");
    },
    detectMobile() {
      this.isMobile = window.innerWidth < 768;
    },
  },
});
</script>

<template>
  <span class="breadcrumb" v-if="formattedCrumbs && !isMobile">
    <span
      v-for="(crumb, index) in formattedCrumbs"
      :key="index"
      class="breadcrumb__crumb"
      :class="{
        'breadcrumb__crumb--disabled': index === formattedCrumbs.length - 1,
      }"
    >
      <a :href="index !== formattedCrumbs.length - 1 ? crumb.path : undefined">
        <SlpTypography tag="span" variant="body2">{{
          crumb.title
        }}</SlpTypography>
      </a>
      <span
        v-if="index !== formattedCrumbs.length - 1"
        class="breadcrumb__chevron"
      >
        <SlpIcon name="chevron-right" variant="product" />
      </span>
    </span>
  </span>
  <span class="breadcrumb" v-else-if="formattedCrumbs && isMobile">
    <span
      class="breadcrumb__crumb breadcrumb__crumb--mobile"
      v-if="formattedCrumbs.length > 1"
    >
      <a
        class="slp-flex slp-align-items-center"
        :href="formattedCrumbs[formattedCrumbs.length - 2].path"
      >
        <span>
          <SlpIcon name="chevron-left" variant="product" />
        </span>
        <SlpTypography class="slp-ml-8" tag="span" variant="body2">
          {{ formattedCrumbs[formattedCrumbs.length - 2].title }}
        </SlpTypography>
      </a>
    </span>
  </span>
</template>

<style scoped lang="scss">
@import "src/styles/_variables";

.breadcrumb {
  display: flex;

  &__crumb {
    display: flex;
    align-items: center;
    color: $color-text-link-100;

    &:not(&--disabled):hover {
      text-decoration: underline;
    }

    &--mobile {
      overflow: hidden;

      a {
        flex: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &--disabled {
      color: $color-text-200;

      a {
        cursor: auto;
      }
    }

    a {
      color: inherit;
    }
  }

  &__chevron {
    margin: 0 10px 0 6px;
  }
}
</style>
