<template>
  <div class="slp-card" :class="className">
    <slot></slot>
  </div>
</template>

<script lang="ts">
export default {
  name: "SlpCard",
  props: {
    variantType: {
      type: String,
      required: false,
      default: "primary",
      in: ["primary", "secondary"],
    },
    variantNumber: {
      type: Number,
      required: false,
      default: 3,
      in: [1, 2, 3, 4],
    },
  },
  computed: {
    className(): string {
      return `slp-card-shadow-${this.variantType}-${this.variantNumber}`;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "src/styles/_variables";

.#{$prefix}-card {
  background-color: $color-surface-50;
  border: $border;
  border-radius: $border-radius-4;
  padding: $spacing-32;

  &.slp-card-shadow-primary {
    &-1 {
      box-shadow: $shadow-surface-primary-1;
    }

    &-2 {
      box-shadow: $shadow-surface-primary-2;
    }

    &-3 {
      box-shadow: $shadow-surface-primary-3;
    }

    &-4 {
      box-shadow: $shadow-surface-primary-4;
    }
  }

  &.slp-card-shadow-secondary {
    &-1 {
      box-shadow: $shadow-surface-secondary-1;
    }
    &-2 {
      box-shadow: $shadow-surface-secondary-2;
    }
    &-3 {
      box-shadow: $shadow-surface-secondary-3;
    }
    &-4 {
      box-shadow: $shadow-surface-secondary-4;
    }
  }
}
</style>
