<template>
  <div
    class="slp-icon"
    :class="[
      `slp-icon--size-${size}`,
      slpColor ? `slp-icon--color-${slpColor}` : '',
    ]"
    :style="iconColor"
    role="img"
    aria-hidden="true"
  >
    <div
      v-if="variant === iconVariant.PRODUCT"
      v-html="require(`@gitlab/svgs/dist/sprite_icons/${name}.svg`)"
    />
    <div
      v-if="variant === iconVariant.MARKETING"
      v-html="require(`../../static/icons/${name}.svg`)"
    />
  </div>
</template>

<script lang="ts">
const ICON_VARIANT = Object.freeze({
  PRODUCT: "product",
  MARKETING: "marketing",
});

export default {
  name: "SlpIcon",
  props: {
    name: {
      type: String,
      required: true,
    },
    size: {
      type: String,
      default: "sm",
      in: ["xs", "sm", "md", "lg", "xl"],
    },
    hexColor: {
      type: String,
      required: false,
    },
    slpColor: {
      type: String,
      required: false,
    },
    variant: {
      type: String,
      required: false,
      default: ICON_VARIANT.MARKETING,
      in: [ICON_VARIANT.PRODUCT, ICON_VARIANT.MARKETING],
      validator(value: string) {
        return [ICON_VARIANT.PRODUCT, ICON_VARIANT.MARKETING].includes(value);
      },
    },
  },
  data() {
    return {
      iconVariant: ICON_VARIANT,
      currentIcon: null,
    };
  },
  computed: {
    iconColor() {
      return {
        color: this.hexColor,
      };
    },
  },
};
</script>

<style scoped lang="scss">
@import "src/styles/variables";

@each $color, $value in $color-list {
  .slp-icon--color-#{$color} {
    color: $value;
    fill: $value;
  }
}

.slp-icon {
  &--size-xs {
    width: 12px;
    height: 12px;
  }

  &--size-sm {
    width: 16px;
    height: 16px;
  }

  &--size-md {
    width: 32px;
    height: 32px;
  }

  &--size-lg {
    width: 48px;
    height: 48px;
  }

  &--size-xl {
    width: 72px;
    height: 72px;
  }

  div {
    width: inherit;
    height: inherit;
  }

  &::v-deep svg {
    width: inherit !important;
    height: inherit !important;
    fill: currentColor !important;
  }
}
</style>
