<script lang="js">
export default {
  name: "SlpToggle",
  props: {
    trueText: {type: String,required: true,},
    falseText:{type: String, required: true}
  },
  data() {
    return {
      value: false,
    };
  },
};
</script>

<template>
  <div class="slp-toggle">
    <input v-bind="$attrs" v-model="value" type="checkbox" class="slp-toggle" />
    <span :class="value ? 'active' : ''">{{ trueText }}</span>
    <span :class="!value ? 'active' : ''">{{ falseText }}</span>
  </div>
</template>

<style lang="scss" scoped>
@import "src/styles/_variables";

.#{$prefix}-toggle {
  position: relative;
  width: fit-content;
  background: $color-surface-800;
  border: $border;
  border-color: $color-text-link-100;
  border-radius: 20px;
  align-items: center;
  display: flex;
  white-space: nowrap;
  line-height: $line-height-button-1;

  span {
    padding: 8px 16px;
    border-radius: 20px;
    color: $color-text-200;
    &:first-of-type {
      padding-right: 8px;
    }
    &:last-of-type {
      padding-left: 8px;
    }
    &.active {
      background-color: $color-surface-900;
      color: $color-text-300;
      font-weight: 600;
      padding: 8px 16px !important;
    }
  }

  input {
    appearance: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
  }
}
</style>
